__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg

.venv/
venv/
env/

.vscode/
.idea/
*.swp
*.swo


*.ckpt
*.pt
*.pth
checkpoints/
*.safetensors

*.log
wandb/

*.copy
*.copy.*
*~

.claude/

.uv/

# data_generation
.pyd
.env
GroundingDINO/
assets/groundingdino/*.pth
*.npy
*.npz
*.mp4
*.mkv
